/* style.css */
h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 3rem;
  border-radius: 10px;
  justify-self: center;
  background-image: linear-gradient(to left, rgb(136, 180, 216), rgb(165, 148, 212));
  color: white;
  gap: 8px;
}

#submit {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
}

input {
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
 
}

/* Email validation styling */

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
  appearance: none;

  width: 100%;
  border: none;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* invalid fields */
input:invalid {
  
}

input:focus:invalid {
  outline: none;
}

/* error message styles */
.email-error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: rgb(255, 255, 255);
  background-color: #990000;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.email-error-active{
    color: #ff0000;
    font-weight: bold;
    font-size: large;
}
